@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GIS视图</title>
    <link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/1.5/js/dojo/dijit/themes/tundra/tundra.css">
<script type="text/javascript" src="~/Scripts/GIS/arcgis.js"></script>
<script type="text/javascript">
    dojo.require("esri.map");

    function init() {
        var map = new esri.Map("map");
        var tiledMapServiceLayer = new esri.layers.ArcGISTiledMapServiceLayer("http://192.168.1.137/ArcGIS/rest/services/MapTest/MapServer");
        map.addLayer(tiledMapServiceLayer);
    }

    dojo.addOnLoad(init);
</script>
</head>
<body class="tundra">
    <div id="map" style="width: 900px; height: 600px; border: 1px solid #000;"></div>
</body>
</html>
