@{
    ViewBag.Title = "菜单管理";
}
<div class="easyui-layout" data-options="fit:true">
    <table id="menuTable" class="easyui-treegrid" toolbar="#toolbar"></table>
</div>
<div id="toolbar">
     <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="create()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="edit()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroy()">移除</a>
</div>


<script type="text/javascript">
    $('#menuTable').treegrid({
        url: '@Url.Action("GetMenusPrivilegeTreeForUser", "RestApi")',
        idField: 'id',
        treeField: 'text',
        singleSelect: true,
        columns: [[
            { field: 'text', title: '名称', width: 150 },
            { field: 'link', title: '链接', width: 150 },
            { field: 'id', title: 'ID', width: 200 },
            { field: 'recordStatus', title: '操作记录', width: 250 }
        ]],
        onLoadSuccess: function(row, data) {
            if (data) {
                $.each(data, function(index, item) {

                });
            }
        }
    });
</script>
